/* Base Styles */
.wrapper {
  width: 100%;
  margin: 5em 0;
}

.inner {
  width: 80%;
  margin: 0 auto;
}

.top,
.middle {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjusted for responsiveness */
  grid-template-rows: auto; /* Adjusted for responsiveness */
  align-items: center;
  gap: 2em;
  margin-bottom: 2em;
  width: 100%;
}

.top > img,
.middle > img,
.bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

/* Adjusted for overlapping issue */
.top img:nth-child(1) {
  grid-column: span 2; /* Spanning two columns */
}

.middle img:nth-child(2) {
  grid-column: span 2; /* Spanning two columns */
}

/* Responsive Styles */
@media (max-width: 1023px) {
  .top,
  .middle {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjusted for responsiveness */
  }
}

@media (max-width: 767px) {
  .top,
  .middle {
    grid-template-columns: 1fr; /* Adjusted for responsiveness */
  }
}
